! Font settings for st terminal
!st.font: cozette:size=13
st.font: misc tamsyn:size=13
*.font: misc tamsyn:size=15
!st.font: Hack:size=14
!st.font: Terminus:size=11
!st.font: cozette:size=13

!st.font: Cartograph CF:size=14
!*.font: Hack:size=11
! Transparency (0-1):
st.alpha: 1
